<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="FilePath" value="C:\Users\tharu.raju.melath\CloudUtilityFiles\XMLFinal\XMLFinal\WEATHERAPP-CREDENTIALS"/>
    <add key="FileName" value="XML\WEATHERAPP-CREDENTIALS"/>
    <add key="DBConnString" value = "Data Source=M2B-D-16HK6BS;Initial Catalog=WeatherAppDB;Integrated Security=True;uid=sa;password=pass@123$"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration> 